header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: solid 1px black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  margin-right: 15px;
  height: 60px
  width: 70px;
}

header nav {
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

div {
  display: block;
}

.main {
  display: flex;
  width: 1232px;
  padding-top: 100px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.lead-story {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
}

.lead-story span {
  font-size: 40px;
  text-align: left;
}

.stories {
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.story {
  flex-direction: column;
  width: 300px;
}

.text-content {
  display: block;
}

.story-2 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.story-3 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.story-4 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.image-content {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  height: 300px;
  flex-direction: column;
  margin-top: 15px;
}

.content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 16px;
}

.bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

img.cookie {
  height: 240px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
